@use '../core/variables' as *;

:root {
    --grid-gap: 2rem;
    --content-spacing: 1rem;
    --flow-space: 1rem
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-neutral-blue-900;
    padding-inline: 2rem;
    padding-block: 4rem;
}

.flow > :not(:last-child) {
    margin-bottom: 1rem;
}

.grid-container {
    display: grid;
    grid-template-areas: "header"
                        "work"
                        "play"
                        "study"
                        "exercise"
                        "social"
                        "self_care";
    grid-gap: var(--grid-gap, 1rem);
}

.header {
    grid-area: header;
}

.work {
    grid-area: work;
}

.play {
    grid-area: play;
}

.study {
    grid-area: study;
}

.exercise {
    grid-area: exercise;
}

.social {
    grid-area: social;
}

.self_care {
    grid-area: self_care;
}

