// Primary
$color-primary-blue: hsl(246, 80%, 60%);
$color-primary-red-400-work: hsl(15, 100%, 70%);
$color-primary-blue-400-play: hsl(195, 74%, 62%);
$color-primary-red-400-study: hsl(348, 100%, 68%);
$color-primary-limegreen-exercise: hsl(145, 58%, 55%);
$color-primary-violet-social: hsl(264, 64%, 52%);
$color-primary-soft-orange-self_care: hsl(43, 84%, 65%);

// Neutral
$color-neutral-blue-900: hsl(226, 43%, 10%);
$color-neutral-blue-700: hsl(235, 46%, 20%);
$color-neutral-blue-400: hsl(235, 45%, 61%);
$color-neutral-200: hsl(236, 100%, 87%);